openapi: 3.1.0
info:
  title: Hunter Account Leads Lists API
  description: Hunter is an email finding and verification service that helps find professional email addresses associated with a domain and verify email deliverability. The API provides domain search, email finder, email verifier, email count, account information, leads management, leads lists, campaigns, discover, enrichment, and logo retrieval capabilities.
  version: 2.0.0
  termsOfService: https://hunter.io/terms
  contact:
    name: Hunter Support
    url: https://hunter.io/contact
    email: support@hunter.io
  license:
    name: Proprietary
    url: https://hunter.io/terms
servers:
- url: https://api.hunter.io/v2
  description: Hunter API v2 Production
security:
- apiKeyQuery: []
- apiKeyHeader: []
- bearerAuth: []
tags:
- name: Leads Lists
  description: Manage leads list collections in Hunter.
paths:
  /leads_lists:
    get:
      operationId: listLeadsLists
      summary: Hunter List Leads Lists
      description: Returns all the leads lists saved in your account.
      tags:
      - Leads Lists
      parameters:
      - name: limit
        in: query
        description: Maximum number of lists to return. Default is 20, max is 100.
        schema:
          type: integer
          default: 20
          maximum: 100
      - name: offset
        in: query
        description: Number of lists to skip for pagination.
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Successful leads lists response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      leads_lists:
                        type: array
                        items:
                          $ref: '#/components/schemas/LeadsList'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createLeadsList
      summary: Hunter Create Leads List
      description: Creates a new leads list.
      tags:
      - Leads Lists
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The name of the leads list.
      responses:
        '201':
          description: Leads list created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LeadsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /leads_lists/{id}:
    get:
      operationId: getLeadsList
      summary: Hunter Get Leads List
      description: Retrieves a single leads list by its identifier.
      tags:
      - Leads Lists
      parameters:
      - $ref: '#/components/parameters/LeadsListId'
      responses:
        '200':
          description: Successful leads list retrieval.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LeadsList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateLeadsList
      summary: Hunter Update Leads List
      description: Updates an existing leads list by its identifier.
      tags:
      - Leads Lists
      parameters:
      - $ref: '#/components/parameters/LeadsListId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The new name for the leads list.
      responses:
        '200':
          description: Leads list updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LeadsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteLeadsList
      summary: Hunter Delete Leads List
      description: Deletes a leads list by its identifier.
      tags:
      - Leads Lists
      parameters:
      - $ref: '#/components/parameters/LeadsListId'
      responses:
        '204':
          description: Leads list deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid parameters or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    LeadsList:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the leads list.
          example: abc123
        name:
          type: string
          description: Name of the leads list.
          example: Example Title
        leads_count:
          type: integer
          description: Number of leads in the list.
          example: 10
        created_at:
          type: string
          format: date-time
          description: Timestamp when the list was created.
          example: '2026-01-15T10:30:00Z'
    PaginationMeta:
      type: object
      properties:
        results:
          type: integer
          description: Total number of results available.
          example: 10
        limit:
          type: integer
          description: Number of results per page.
          example: 10
        offset:
          type: integer
          description: Current offset position.
          example: 10
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Error identifier code.
              code:
                type: integer
                description: HTTP status code.
              details:
                type: string
                description: Human-readable error message.
          example: []
  parameters:
    LeadsListId:
      name: id
      in: path
      required: true
      description: The unique identifier of the leads list.
      schema:
        type: integer
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: API key passed as a query parameter.
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key passed via the X-API-KEY header.
    bearerAuth:
      type: http
      scheme: bearer
      description: API key passed as a Bearer token in the Authorization header.
