openapi: 3.1.0
info:
  title: Hunter Account API
  description: Hunter is an email finding and verification service that helps find professional email addresses associated with a domain and verify email deliverability. The API provides domain search, email finder, email verifier, email count, account information, leads management, leads lists, campaigns, discover, enrichment, and logo retrieval capabilities.
  version: 2.0.0
  termsOfService: https://hunter.io/terms
  contact:
    name: Hunter Support
    url: https://hunter.io/contact
    email: support@hunter.io
  license:
    name: Proprietary
    url: https://hunter.io/terms
servers:
- url: https://api.hunter.io/v2
  description: Hunter API v2 Production
security:
- apiKeyQuery: []
- apiKeyHeader: []
- bearerAuth: []
tags:
- name: Account
  description: Retrieve account information and usage statistics.
paths:
  /account:
    get:
      operationId: getAccount
      summary: Hunter Account Information
      description: Returns information about the Hunter account associated with the API key, including usage statistics and plan details. This call is free and does not count toward usage limits.
      tags:
      - Account
      responses:
        '200':
          description: Successful account information response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AccountResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UsageCounter:
      type: object
      properties:
        used:
          type: integer
          description: Number of requests used.
          example: 10
        available:
          type: integer
          description: Number of requests available.
          example: 10
    AccountResult:
      type: object
      properties:
        first_name:
          type: string
          description: Account holder first name.
          example: example_value
        last_name:
          type: string
          description: Account holder last name.
          example: example_value
        email:
          type: string
          format: email
          description: Account email address.
          example: user@example.com
        plan_name:
          type: string
          description: Name of the current subscription plan.
          example: example_value
        plan_level:
          type: integer
          description: Level of the current subscription plan.
          example: 10
        reset_date:
          type: string
          format: date
          description: Date when usage counters reset.
          example: '2026-01-15'
        team_id:
          type: integer
          description: Team identifier.
          example: '500123'
        requests:
          type: object
          description: Usage breakdown by request type.
          properties:
            searches:
              $ref: '#/components/schemas/UsageCounter'
            verifications:
              $ref: '#/components/schemas/UsageCounter'
          example: example_value
        calls:
          type: object
          description: Deprecated. Total usage counters.
          deprecated: true
          properties:
            used:
              type: integer
            available:
              type: integer
          example: example_value
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Error identifier code.
              code:
                type: integer
                description: HTTP status code.
              details:
                type: string
                description: Human-readable error message.
          example: []
  responses:
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: API key passed as a query parameter.
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key passed via the X-API-KEY header.
    bearerAuth:
      type: http
      scheme: bearer
      description: API key passed as a Bearer token in the Authorization header.
